@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

.container-heading * {
    font-family: 'Merriweather', serif;
}


/* Header related design */
.banner-img {
    background-image: linear-gradient(black, transparent), url("../images/Banner-Image.png");
    background-repeat: no-repeat;
    /* position: relative; */
    /* background-size: cover; */
    width: 100%;
    width: 1320px;
    height: 600px;
    margin: 20px auto 120px auto;
    border-radius: 16px;
}

.banner-text {
    display: block;
    padding: 150px 340px;
    align-items: center;
    gap: 0;
    text-shadow: 15px 10px 20px black;
}

.banner-text-small {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 340px;
    margin-bottom: 15px;
}

.banner-text-big {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    width: 100%;
    font-weight: 900;
    margin-top: 0px;
}

/*section 01: style for 65% Discount   */
.new-year-dis {
    width: 100%;
    max-width: 1600px;
    height: 850px;
    margin: 0px auto 120px auto;
    text-align: center;
    /* work for div align center: text-align: center; */
}

.section1 {
    display: block;
    background: #FFF;
    font-family: Inter;
    /* margin: 120px auto; */
}

.section1 .discount-text .off {
    color: #F00;
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 45px;
}

.section1 .discount-text .tomato {
    color: #F00;
    text-align: center;
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 16px;
}

.section1 .discount-text .category {
    color: #070211;
    text-align: center;
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 45px;
}

.section1 .new-year-img {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*  section 02 style "Mid Night party" */

.wel-party {
    background-image: linear-gradient(to right, black, transparent), url("../images/Vectorrr.png");
    background-repeat: no-repeat;
    width: 100%;
    width: 1320px;
    height: 600px;
    margin: 0px auto 120px auto;
    border-radius: 16px;
    margin-top: 0;
    background-position: top;
}

.party-time {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 76px 140px 80px 120px;
    text-shadow: 25px 10px 20px black;
}

.party-time .party-text .party-head {
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-weight: 900;
    line-height: 88px;
    /* 137.5% */
    letter-spacing: 7.04px;
    margin-bottom: 0px;
}

.party-time .party-text .party-paragraph {
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    /* 166.667% */
    margin-top: 10px;
    margin-bottom: 40px;
}

.party-time .party-text .join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: 1px solid white;
}

.join:hover {
    cursor: pointer;
    margin: 0px 5px;
    transition: 0.8s;
    color: #fff;
}

/* Style for Event time sections" */

.event-time {
    background: linear-gradient(to bottom, #fde4e4, transparent);
    /* background-repeat: no-repeat; */
    width: 100%;
    width: 1320px;
    height: 600px;
    margin: 0px auto 120px auto;
    border-radius: 16px;
    font-family: Inter;
}

.event-time .evetn-text div {
    display: grid;
    place-items: center;
    padding-top: 40px;
}

.event-time .evetn-text .span-color {
    color: #F00;
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    line-height: 0px;
    /* 175% */
}

.event-time .evetn-text .pdt {
    color: #070211;
    font-size: 32px;
    font-weight: 600;
    line-height: 30px;
}

.event-time .evetn-text .join {
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 8px;
    background: #F00;
    padding: 16px 32px;
    border: 1px solid white;
}

.join:hover {
    cursor: pointer;
    transform: scale(.9);
    z-index: 1;
}

/* style for "Our portfolio - section" */

.style-portfolio {
    width: 100%;
    height: 100%;
    width: 1600px;
    height: 1150px;
    margin: 0px auto 120px auto;
    display: grid;
    place-items: center;
    align-items: center;
}

.portfolio>div {
    display: block;
}

.portfolio .port-text {
    display: block;
    justify-content: left;
    align-items: left;
    padding-left: 20px;
}

.portfolio .port-text .tomato {
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-weight: 500;
}

.portfolio .port-text .port-heading {
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    text-transform: capitalize;
}

.portfolio .port-text .p-text {
    width: 100%;
    max-width: 896px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    /* 160% */
    margin-bottom: 45px;
}

/* portfolio img style */

.portfolio .potfolio-img>.line1,
.line2 {
    width: 100%;
    padding: 15px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.portfolio .potfolio-img>.line1>div {
    padding-right: 20px;
}

.portfolio .potfolio-img>.line2>div {
    padding-right: 20px;
}

/* hover effect apply on images */
.box {
    width: 424px;
    height: 450px;
    border-radius: 16px;
    margin: auto;
    /* box-shadow: 0 0 5px 2px rgba(0, 0, 0, .1); */
    transition: 0.8s;
}

.box img {
    display: block;
    width: 100%;
    border-radius: 5px;
}

.box:hover {
    transform: scale(1.3);
    z-index: 1;
}

/* Section 6: Style of Subscriber Newsletter  */

.newsletter {
    background-color: rgba(255, 0, 0, 0.05);
    width: 100%;
    width: 1320px;
    height: 616px;
    border-radius: 16px;
    margin: 120px auto;
}

.newsletter {
    padding: 120px auto;
}


.container {
    display: grid;
    place-items: center;
    /* align-items: center; */
    /* text-align: center; */
    /* margin: 80px 0; */
}

.container .email-img {
    height: 100%;
    width: 130px;
    height: 110px;
    padding-top: 100px;
}

.container .sub-head {
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-weight: 900;
    margin: 40px 0px 0px 0px;
}

.container .p-subtext {
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    padding: 20px 0;
    margin: 0 220px;
    /* line-height: 32px; */
    /* 160% */
}

.newsletter form {
    width: 700px;
    margin: 20px auto;
    height: 72px;
    display: flex;

}

.newsletter form input {
    /* width: 600px; */
    flex-grow: 1;
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 20px;
    font-size: larger;
    /* outline: none; */
}

/* input:hover {
    transform: scale(.9);
    z-index: 1;
} */
#join-sub {
    width: 210px;
    height: 72px;
    border: none;
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    font-size: larger;
    color: white;
}

#join-sub:hover {
    transform: scale(.9);
    z-index: 1;
}

/* Footer Section Style CSS */

.f-bannner {
    background-color: #070211;
    width: 1600px;
    height: 609px;
    margin: 0 auto;
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    padding: 120px;
}

.lair1 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.adress {
    color: #FFF;
    width: 375px;
    font-size: 24px;
    font-weight: 500;
    /* 166.667% */
    padding-top: 10px;
}
.contact li {
    list-style: none;
    margin-top: 10px;
}
.contact a {
    text-decoration: none;
    color: #FFF;
}