@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");
/* font-family: 'Inter', sans-serif;
font-family: 'Merriweather', serif; */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Merriweather:ital,wght@0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap");

.container-heading * {
    font-family: 'Merriweather', serif;
}

/* Header related design */
.banner-img {
    background-image: url("../images/Banner\ Image.png");
    background-repeat: no-repeat;
    /* position: relative; */
    /* background-size: cover; */
    width: 85%;
    width: 1320px;
    height: 600px;
    margin: 20px auto 120px auto;
    border-radius: 16px;
}

.banner-text {
    display: block;
    padding: 150px 340px;
    align-items: center;
    gap: 0;
    text-shadow: 15px 10px 20px black;
}

.banner-text-small {
    color: #FFF;
    text-align: center;
    font-size: 32px;
    font-weight: 340px;
    margin-bottom: 15px;
    /* line-height: normal; */
    /* margin-top: 180px; */
    /* padding-bottom: 16px; */
}

.banner-text-big {
    color: #FFF;
    text-align: center;
    font-size: 65px;
    width: 85%;
    font-weight: 900;
    margin-top: 0px;
    padding-left: 35px;
}

/* discount section style */
.new-year-dis {
    width: 85%;
    max-width: 1600px;
    height: 7335px;
    margin: 120px auto;
    text-align: center;
    /* work for div align center: text-align: center; */
}

.section1 {
    display: block;
    background: #FFF;
    font-family: Inter;
    /* margin: 120px auto; */
}

.section1 .discount-text .off {
    color: #F00;
    /* font-family: Inter; */
    font-size: 88px;
    font-weight: 700;
    margin-bottom: 45px;
}

.section1 .discount-text .tomato {
    color: #F00;
    text-align: center;
    /* font-family: Inter; */
    font-size: 24px;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 16px;
}

.section1 .discount-text .category {
    color: #070211;
    text-align: center;
    /* font-family: Inter; */
    font-size: 48px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 45px;
}

.section1 .new-year-img {
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* party section 02 style */